@model string

@{
    ViewBag.Title = "Capgemini Voting";
}
<br />
<div class="jumbotron">
    <h1>Capgemini Voting</h1>
    <p class="lead">Thank you for your time.</p>
    @using (Html.BeginForm("Vote", "Mobile", FormMethod.Post))
    {
        if (!Model.IsEmpty())
        {
            <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok-circle"></span> @Model</div>
        }
    }
</div>
