body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Header */
.header {
    background-color: #00A0D7;
}

.navbar-inverse .header {
    color: white;
}

.navbar-inverse .header a {
    color: white;
}

.navbar-inverse .header:hover {
    color: #21496C;
}

.container>.navbar-header, .container>.navbar-collapse {
    margin-left: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: darkslategray;
}

#capgemini-logo {
    height: 40px;
    float: left;
    margin: 5px 15px 5px 0px;
}

.navbar-fixed-top {
    border-bottom: 1px solid #005B78;
}

.pointer {
    cursor: pointer;
}

.noclose .ui-dialog-titlebar-close {
    display:none;
}

.ui-dialog-titlebar {
    background-color: #00a0d7;
    background-image: none;
    border: 1px solid #00a0d7;
}