@{
    ViewBag.Title = Resources.Confirm_email;
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        @Resources.Thanks_for_confirming_email @Html.ActionLink(Resources.Click_here_to_log_in, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
