@{
    ViewBag.Title = Resources.Forgot_password_confirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @Resources.Please_check_mail_to_reset_password
    </p>
</div>
	
